{
  "name": "com.conan.client",
  "description": "My Application",
  "path": "/usr/local/bin/conanClient",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://ogmpbogagadlgacfnneajplfinocnnam/"
  ]
}