@import "../../../static/styles/theme";
@import "../pages/index.scss";

.group-detail {
  margin: -24px;
  .group-list-wrapper {
    border-right: $color-dark solid 1px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    .group-search {
      padding: 24px;
    }
    .group-list {
      @extend .pages;
      margin: -24px 0 0;
      .ant-checkbox + span {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .group-item {
    padding: 10px;
    .group-item-title {
      h4 {
        float: left;
        padding-top: 2px;
      }
      button {
        float: right;
      }
    }
    .action-line {
      li {
        margin-bottom: 20px;
        .index {
          color: $color-primary;
          margin-right: 5px;
          float: left;
        }
        .action-layout {
          display: block;
          overflow: hidden;
          zoom: 1;
          div {
            margin-bottom: 5px;
          }
        }
        .address {
          color: $color-primary;
        }
        .action {
          color: $color-success;
        }
      }
    }
  }
}
