@import "../../../static/styles/common";
@import "../../../static/styles/theme";
@import "../pages/index.scss";

.group-detail {
  margin: -24px;
  .group-list-wrapper {
    border-right: $color-secondary solid 1px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    .group-search {
      padding: 24px;
    }
    .group-list {
      @extend .pages;
      margin: -24px 0 0;
      li {
        border-bottom: none;
      }
      .ant-dropdown-link {
        float: right;
      }
      .ant-checkbox-wrapper {
        float: left;
      }
      p {
        margin-left: 20px;
      }
    }
  }
  .group-item {
    padding: 10px;
    .group-item-title {
      h4 {
        float: left;
        padding-top: 2px;
      }
      button {
        float: right;
        margin-left: 5px;
      }
    }
    .page-title {
      margin: 10px 0;
      color: $color-primary;
    }
    .page-control {
      float: right;
      margin-top: -30px;
      button {
        margin-left: 5px;
      }
    }
    .action-line {
      li {
        margin-bottom: 20px;
        .index {
          color: $color-primary;
          margin-right: 5px;
          float: left;
          width: 15px;
        }
        .action-content-wrap {
          float: left;
          width: 100%;
          margin-left: -20px;
        }
        .action-content {
          display: block;
          padding-left: 20px;
          div {
            margin-bottom: 5px;
          }
        }
        .address, .action {
          margin-right: 10px;
          display: inline-block;
          max-width: 200px;
          @include text-overflow();
        }
        .address {
          color: $color-primary;
        }
        .action {
          color: $color-success;
        }
      }
    }
  }
}

.ant-popover-inner {
  overflow: hidden;
}
.case-list {
  width: 310px;
  margin: -8px -16px;
  li {
    height: 35px;
    line-height: 35px;
    font-weight: 200;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary;
    }
    span {
      float: right;
      color: $color-dark;
    }
  }
}
