@import "../../../static/styles/common";
@import "../../../static/styles/theme";

.pages {
  margin: -24px;
  li {
    padding: 12px 24px;
    line-height: 24px;
    cursor: default;
    position: relative;
    border-bottom: $color-border-default solid 1px;
    &:last-child {
      border-bottom: none;
    }
    &.actived {
      padding-left: 19px;
      border-left: $color-primary solid 5px;
    }
    .link {
      font-size: 14px;
      color: $color-primary;
      @include text-overflow();
    }
    .time {
      color: $color-dark;
    }
    .checkbox {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 8px;
    }
  }
}
