@import "../../../static/styles/theme";
@import "../pages/index.scss";

.ant-collapse {
  margin: -24px;
  border: none;
  .ant-collapse-item {
    border-top-color: $color-secondary;
    .ant-collapse-header {
      background-color: $color-almost;
      label {
        float: right;
        margin-right: 10px;
        /***/
        .ant-checkbox-checked {
          .ant-checkbox-inner {
            // background-color: $color-success;
            // border-color: $color-success;
          }
        }
        .ant-checkbox-inner {
          border-radius: 50%;
        }
        /***/
      }
    }
    .group-list {
      margin: -16px;
      li {
        padding: 10px;
        &.actived {
          padding-left: 5px;
        }
        .ant-checkbox-wrapper {
          float: right;
        }
        p {
          margin-left: 5px;
        }
      }
    }
  }
}

.group-list {
  @extend .pages;
  margin: -24px 0 0;
  li {
    border-bottom: none;
  }
  .ant-checkbox-wrapper {
    float: left;
  }
  p {
    margin-left: 20px;
  }
}
