@import "../../static/styles/theme";

.ant-card {
  border: none;
  border-radius: 0;
  .ant-card-head {
    background-color: $color-primary;
    border-bottom: none;
    color: #fff;
    .ant-card-head-title {
      font-weight: normal;
    }
  }
  .ant-card-extra {
    right: 10px;
    a {
      color: #fff;
      margin-left: 15px;
    }
  }
}

.panel {
  margin-top: 24px;
}

.group-result {
  background-color: $color-ghost;
  padding: 10px;
  margin: 10px 0;
  &.small {
    padding: 5px 8px;
    margin: 5px 0;
    display: inline-block;
    .group-result-info {
      margin-right: 24px;
    }
  }
  &.error {
    background-color: $color-error;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .group-result-info {
    float: left;
  }
  .group-result-control {
    float: right;
  }
}
