@import "../../../static/styles/theme";

.play-setting {
  margin: -10px 0;
  li {
    margin: 10px 0;
    height: 14px;
    line-height: 14px;
    font-weight: 200;
    &.hr {
      border-top: $color-secondary solid 1px;
      height: 0;
      margin: 0 -16px;
    }
    .ant-switch {
      float: right;
    }
  }
}
