@import "../../../static/styles/common";
@import "../../../static/styles/theme";

.timeline {
  .ant-card-head-title {
    width: 600px;
  }
  .ant-card-body {
    padding: 10px 24px;
  }
  .ant-timeline {
    margin-top: 20px;
    .ant-timeline-item-head-custom {
      z-index: 1;
      background-color: transparent;
    }
    .ant-timeline-item-content {
      &:hover {
        box-shadow: $color-ghost 5px 0;
      }
    }
    .time {
      color: $color-dark;
      margin-bottom: 5px;
    }
    .action, .control {
      margin-bottom: 5px;
    }
    .address, .value, .tagname {
      display: inline-block;
      max-width: 200px;
      margin-right: 10px;
      @include text-overflow();
    }
    .address, .value {
      color: $color-primary;
    }
    .tagname {
      color: $color-success;
    }
  }
}
