@import "../../../static/styles/theme";

.timeline {
  .ant-card-body {
    padding: 10px 24px;
  }
  .ant-timeline {
    margin-top: 20px;
    .ant-timeline-item-head-custom {
      z-index: 1;
      background-color: transparent;
    }
    .time {
      color: $color-dark;
      margin-bottom: 5px;
    }
    .action, .control {
      margin-bottom: 5px;
    }
    .address, .value {
      color: $color-primary;
    }
    .tagname {
      color: $color-success;
    }
  }
}
