@import "compass/css3/border-radius";
@import "theme";

.menu-area {
  display: flex;
  border-bottom: $color-border-dark solid 1px;
  div {
    flex: 1;
    height: 5.4rem;
    text-align: center;
    border-right: $color-border-dark solid 1px;
    &:last-child {
      border-right: none;
    }
    a {
      display: block;
      padding-top: 1rem;
    }
    i {
      color: #fff;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      @include border-radius(50%);
      &.menu-1 {
        background-color: #f15755;
      }
      &.menu-2 {
        background-color: #62c87f;
      }
      &.menu-3 {
        background-color: #fac450;
      }
      &.menu-4 {
        background-color: #87d068;
      }
      &.menu-5 {
        background-color: #1caaee;
      }
      &.menu-6 {
        background-color: #fc863f;
      }
    }
    span {
      font-size: .75rem;
    }
  }
}
